<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
  <ul>
    <li v-for="(cor, i) in cores">{{ i + 1 }} - {{ cor }}</li>
  </ul>
  <template v-for="(cor, i) in cores">
    <h1>{{ cor }}</h1>
    <p>{{ i }}</p>
  </template>
</div>

<script>
  const {createApp, ref} = Vue
  
  createApp({
    setup() {
      const cores = ['vermelho', 'verde', 'azul', 'laranja']
      const pessoas = [
        {nome: 'Gal', idade: 22, peso: 46},
        {nome: 'Gil', idade: 25, peso: 55},
      ]
      
      return {cores, pessoas}
    }
  }).mount('#app')
</script>